body{
    font-family: 'Merriweather', serif;
    margin: 2px;
}
h1{
    font-size: 50px;
    margin-top: 150px;
    padding-left: 25px;
    color: rgba(54, 54, 54, 0.726);
    font-weight: 900;
}
h2{
    font-size: 40px;
    font-weight: 900;
    text-align: justify;
    color: rgb(90, 89, 89);
    
    
}
p{
    font-size: 20px;
    color: rgb(90, 89, 89);
    margin-bottom: 8px;
    padding-left: 25px;
    padding-bottom: 50px;
    font-weight: 550;
}
.orange-color{
    color: orange;
}

.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 60%;
    padding-left: 50px;
    padding-bottom:50px;
    
}
section{
    display: flex;
    margin-top: 50px;
    background-color: linear-gradient(rgb(155, 151, 151),white);
    margin-bottom: 100px;
}
.link-button{
    color: snow;
    background-image: linear-gradient(orange, red,tomato);
    padding: 20px 35px;
    text-decoration: none;
    font-weight: 900;
    border-radius: 25px;
    margin-left: 17px;
    }
    .blog-p{
        width: 60%%;
        font-size: 15px;
        margin-top: 30px;
        }
    .back-image{
        
        background-image: url(7.png);
        background-repeat: round;
        padding-left: 20px;
        padding-right: 20px;
        }
        .recipies-food{
            text-align: center;
        }
        
    